{% extends "layout.html" %}
{% block body %}
    <h3>Hakkımda</h3>
    <hr>
    <hr>
    <p>
        Merhaba 👋 Ben Caner Çakır.
        Yazılım dünyasına olan ilgim çocukluk yıllarımda başladı, şu anda ise bu tutkumu mesleğe dönüştürmek için çalışıyorum. İstanbul Aydın Üniversitesi’nde Yazılım Geliştirme öğrencisiyim ve aynı zamanda 42 İstanbul’da yoğun bir yazılım eğitim sürecindeyim.

        Özellikle Fullstack Development ve Makine Öğrenmesi alanlarına ilgi duyuyorum. Python, C ve Java gibi dillerle projeler geliştiriyor, veritabanı yönetimi ve algoritmalar üzerine kendimi sürekli geliştiriyorum.
        Hedefim; temiz, optimize ve ölçeklenebilir kodlarla gerçek dünyada fark yaratacak projeler üretmek. 🚀

        Kahveye olan tutkumla barista olarak başladığım yolculuğum, sabır ve disiplinin kod yazarken de ne kadar önemli olduğunu bana öğretti. Şimdi ise yazılım dünyasında kendi izimi bırakmak için adım adım ilerliyorum.

        🎯 Hedefim: Yakın zamanda junior developer olarak sektöre adım atmak ve uzun vadede global ölçekte projelerde yer almak.
    </p>
{% endblock %}