{% extends "layout.html" %}
{% block body %}
    <h1><strong>Makaleler</strong></h1>
    <hr>
    <div class="jumbotron">
        <ul>
            {% for article in articles %}
                <hr style="height: 2px; background-color: #6c757d; border: none;">

                    <h3>
                      <b>
                        <a href="/article/{{ article.article_id }}" class="article-link">
                          {{ article.header }}
                          <span class="article-author">- {{ article.author }}</span>
                        </a>
                      </b>
                    </h3>
                <hr style="height: 2px; background-color: #6c757d; border: none;">

            {% endfor %}
        </ul>
    </div>
{% endblock %}
