<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CC DAIRİES</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    .btn-default {
        background: #000;
        color: #fff;
    }
    .btn-default:hover {
        background: #fff;
        color: #000;
    }
  </style>
</head>
<body>
    {% include "includes/navbar.html"%}
    <div class="container">
        {% include "includes/messages.html" %}
        {% block body %}

        {% endblock %}
    </div>

</body>
</html>
